/* css for cyber smart*/
.top-header{
    background-color: yellow;
}

.inter-nav{
    width:100%;
    height: 100px;
    background-color: #022e64;
}

.btn{
    height: 49px;
    width: 132px;
    color: #022e64;
    background-color: yellow;
    margin-left:5px;
    decoration:none;
}
.firstbank{
    width:150px;
    height:auto;
}

.inter-navcon{
    margin-top: 15px;
}

.main{
    height:auto;
    width: 100%;
    background-color:#80808012;
    margin-top: 100px;
    margin-bottom: 50px;
}

/* .mainimg{
    width: 300px;
    margin-top: 40px;
    padding-top:50px


} */

.img-para{
    color:#022e64;
    font-size: 25px;
    margin-top: 10px; 
}

.sec{
    background-color: white;
    margin-top: 50px;
    margin-left:5px;
    
    
}

.try-demo{
    text-align: center;
    font-size:18px;
    color:white;
    /* font-weight: bold;  */
    background-color:#022e64;
    margin-top:50px;


}

.demo{
    width:100%;
}

.try{
    padding-top:10px;
}